@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: beige;
  width: 400px;
  max-width: 100%;
  padding: 0;
  padding-bottom: 20px;
  border-radius: 10px;
  border: solid 1px rgb(131, 130, 130);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: 700;
  display: flexbox;
  flex-direction: column;
  color: #0b0213;
}

#cabeceramodal {
  background-color: #afcb05;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 2px orange;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  color: #0b0213;
  padding-top: 8px;
  font-size: 16px;
}

.modal div input,
.modal div select {
  width: 260px;
  font-size: 16px;
  height: 30px;
  color: rgb(20, 20, 20);
  border: solid 1px #afcb05;
  margin-top: 15px;
}

#listado-clientes {
  font-size: 16px;
  height: 30px;
  color: lightseagreen;
  border: solid 1px #afcb05;
  width: 200px;
}
